.HomePortfolio {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 95px 120px;
}

.showcase-center {
    display: flex;
    justify-content: center;
}

.showcase-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 325px);
    width: 100%;
    grid-gap: 20px;
    margin-top: 47.5px;
}

.project {
    overflow: hidden;
    position: relative;
}

.project.p-1, .project.p-4 {
    grid-row: span 2;
}

.project.p-2 {
    grid-column: span 2;
}

.project::before {
    background-color: rgb(220, 20, 60, 0.8);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
    z-index: 1;
}

.project:hover::before {
    opacity: 1;
}

.project:hover img {
    transform: scale(1.1);
}

.project:hover .project-text {
    pointer-events: all;
    opacity: 1;
    transform: translateX(0px);
}

.project img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.project-text {
    color: white;
    position: absolute;
    pointer-events: none;
    bottom: 0%;
    padding: 40px;
    opacity: 0;
    transition: 0.3s;
    z-index: 1;
    transform: translateX(-10px);
}

.type {
    font-size: 17px;
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    margin-top: 5px;
    font-size: 22.5px;
    font-weight: 700;
}

.showcase-link {
    background: black;
    color: white;
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;
    gap: 15px;
    margin-top: 47.5px;
    padding: 25px 50px;
    font-size: 16px;
    z-index: 1;
}

.showcase-link i {
    display: flex;
    font-size: 26px;
}

.showcase-link:hover::before {
    width: 100%;
}

.showcase-link::before {
    background-color: crimson;
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0%;
    right: 0%;
    z-index: -1;
    transition: 0.3s;
}

